body{
    font-family: 'Crimson Pro', serif;
    background: #090926;
    max-width: 100%; 
    max-height: 100%;
}

main{
    background: url(titleLocal.png) no-repeat center ;
    background-size: contain;
    width: 100%;
    height: calc(100% - 133px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 133px;

}
h1{
    
    font-family: 'Minion Pro', sans-serif;
    color: #B4903B;
    margin-bottom: 5rem;
    font-size: 3rem;
}

.center{
    display: block;
    width:"958";
    height:"661";
    
}

.map{
    display: block;
    width:"958";
    height:"661";
   
}