body {
    font-family: 'Crimson Pro', serif;
    background: #090926;
    max-width: 100%;
    max-height: 100%;
}

main {
    background: url("../images/titleLogin.svg") no-repeat top;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
    gap: 36px;
}

form div,
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

form button {
    color: #B4903B;
    border: 2px solid #B4903B;

    background-color: transparent;
    padding: 10px 30px;
    margin-top: 32px;
    font-size: 22px;
    font-family: 'Minion Pro', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

input {
    border: none;
    border-bottom: 2px solid #B4903B;
    outline: transparent;
    background-color: transparent;
    padding: 6px;
    text-align: center;
    color: #E9DBA8;
    font-family: 'Crimson Pro', serif;
    font-size: 22px;
}

input::placeholder {
    color: #E9DBA8;
}

.register a,
.register {
    color: #E9DBA8
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    height: 40rem;
    margin: 2rem;
}