.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: url("../images/titleLogin.svg") no-repeat center;
    background-size: 100%;
    background-position-y: -10vh;
}

.main p {
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin: 6vh 0;
}

.options>div>* {
    display: block;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .main {
        background: url("../images/titleNomMobile.svg") no-repeat center;
        background-size: 100%;
        background-position-y: initial;
    }

    .options {
        flex-direction: column;
    }
}